{% extends 'base.html' %}
{% block title %}All Cafes{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table" style="color: white">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Map</th>
            <th>Image</th>
            <th>WiFi</th>
            <th>Sockets</th>
            <th>Toilets</th>
            <th>Take Calls</th>
            <th>Seats</th>
            <th>Coffee Price</th>
          </tr>
        </thead>
        <tbody>
        {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td>{{ cafe.location }}</td>
            <td>
              {% if cafe.map_url.startswith("http") %}
                <a href="{{ cafe.map_url }}">Maps Link</a>
              {% else %}
                {{ cafe.map_url }}
              {% endif %}
            </td>
            <td>
              {% if cafe.img_url.startswith("http") %}
                <a href="{{ cafe.img_url }}">Image Link</a>
              {% else %}
                {{ cafe.img_url }}
              {% endif %}
            </td>
            <td>{{ cafe.has_wifi }}</td>
            <td>{{ cafe.has_sockets }}</td>
            <td>{{ cafe.has_toilets }}</td>
            <td>{{ cafe.can_take_calls }}</td>
            <td>{{ cafe.seats }}</td>
            <td>{{ cafe.coffee_price }}</td>
            <td><a href="{{ url_for('delete',id= cafe.id) }}">Delete Cafe</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <p><a href="{{ url_for('index') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
